body {
	font: 16px Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto-regular-webfont.eot');
    src: url('/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-regular-webfont.woff') format('woff'),
         url('/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-black';
    src: url('/fonts/roboto-black-webfont.eot');
    src: url('/fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-black-webfont.woff') format('woff'),
         url('/fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-medium';
    src: url('/fonts/roboto-medium-webfont.eot');
    src: url('/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-medium-webfont.woff') format('woff'),
         url('/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-thin';
    src: url('/fonts/roboto-thin-webfont.eot');
    src: url('/fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto-thin-webfont.woff') format('woff'),
         url('/fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}