.bg-footer {
	background: url(../images/bg-footer.png) no-repeat;
	background-size: 100%;
	height: 500px;
	width: 100%;
}

.footer {
	@include container-fixed;
	width: 76%;
}

.footer__content {
	@include make-md-column(12);
	@include make-xs-column(12);
	@include make-sm-column(12);
}

.register {

	.form-control {
		display: block;
	}
}